<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Virtuoso</title>
    <link rel="stylesheet" type="text/css" href="./login-css/style.css" />
  </head>
  <body>
    <div class="container">
      <section id="content">
        <form action="">
          <h1>Create a Login</h1>
          <p>Please fill in this form to create an account.</p>
          <div>
            <input
              type="text"
              placeholder="Enter Band Name"
              required=""
              id="email"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Enter Username"
              required=""
              id="email"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Enter Band Manager/'s Name"
              required=""
              id="email"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Enter Email"
              required=""
              id="email"
            />
          </div>
          <div>
            <input
              type="password"
              placeholder="Enter Password"
              required=""
              id="password"
            />
          </div>
          <div>
            <input
              type="password"
              placeholder="Repeat Password"
              required=""
              id="password"
            />
          </div>
          <div>
            <input type="submit" value="Register" />
            <a href="/login">Already have an account? Sign in</a>
          </div>
        </form>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
    <!-- container -->
  </body>
</html>