<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Virtuoso</title>
    <link rel="stylesheet" type="text/css" href="./login-css/style.css" />
  </head>
  <body>
    <div class="container">
      <section id="content">
        <form action="" class="signup-form">
          <h1>Create a Login</h1>
          <p>Please fill in this form to create an account.</p>
          <div>
            <input
              type="text"
              placeholder="Enter First Name"
              required=""
              id="auditioner_first_name"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Enter Last Name"
              required=""
              id="auditioner_last_name"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Enter Username"
              required=""
              id="auditioner_user"
            />
          </div>
          <div>
            <input
              class="form-control"
              list="datalistOptions"
              placeholder="What's your Virtuoso"
            />
            <datalist id="datalistOptions">
              <option value="Front Man"></option>
              <option value="Guitarist"></option>
              <option value="Bass"></option>
              <option value="Drummer"></option>
              <option value="Vocalist"></option>
            </datalist>
          </div>
          <div>
            <input
              type="text"
              placeholder="How many years of experience do you have?"
              required=""
              id="years_played"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Enter Email"
              required=""
              id="auditioner_email"
            />
          </div>
          <div>
            <input
              type="password"
              placeholder="Enter Password"
              required=""
              id="auditioner_password"
            />
          </div>
          <div>
            <input
              type="password"
              placeholder="Repeat Password"
              required=""
              id="auditioner_password"
            />
          </div>
          <div>
            <input type="submit" value="Register" />
            <a href="/login">Already have an account? Sign in</a>
          </div>
        </form>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
    <!-- container -->
  </body>
  <script src="./js/auditioner-signup.js"></script>
</html>